<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potential churners</title>
</head>
<body>
    <center>
    <h1>Potential churners table</h1>
    <hr style="height:2px;border-width:0;color:#D9FFAD;background-color:#D9FFAD">
    <div>
      {{ table | safe }}
    </div>
    <br>
    <br>
    <hr style="height:2px;border-width:0;color:#D9FFAD;background-color:#D9FFAD">
    <input type="button" value="Return to the main uploading page" onclick="history.go(-1)">
    </center>
  </body>
</html>
